/*document*/

body {
    font-family: "Open Sans", sans-serif;
}

/*Header*/

header {
    background-color: #999999;
}

#logo {
    font-family: 'Pacifico', cursive;
    font-size: 5em;
    padding: 0.3em 0 0.3em 0.5em;
    display: inline-block;
    margin-top: 0;
    vertical-align: middle;
}

.fn-click-open {
    background-color: lightseagreen;
    color: white;
    font-size: 1.2em;
    position: relative;
    margin-left: 75%;
}


/*Sidebar*/
#sidebar{
    background-color: lightgray;
    display: none;
    height: 70rem
}
#favorites-link {
    text-decoration: none;
    font-size: 1.5em;
    padding: 0.5em 0 0.3em 1em;
}
#favorites-link a:hover {
    text-decoration: none;
    color: #000033;
}

#history-section {
    background-color: white;
    border-radius: 3px;
    margin: 1em
}

#history-section h4 {
    padding: 0.5em 0 0.5em 0.5em
}

#history-list {
    list-style: none;
    padding-left: 1em;
    font-size: 1.1em;
}

#history-list li{
    margin-bottom: 0.3em;
}
/*Photo*/
#photo {
    background-color: darkgray;
    height: 70rem
}

#empty-photo-section {
    height: 20em;
}

.image-display {
    display: inline-block;
    margin: 2em 2em 0 2em
}

#photo-lg {
    max-width: 90rem;
    max-height:65rem;
    border-radius: 2px;

}
#photo-left-chevron {
    margin-left: 1em;
}

#photo-right-chevron {
    margin-right: 1em
}

.zero-base {
    color: white;
    text-align: center
}

.glyph-link:link {
    text-decoration: none;
    font-size: 5em;
    color: white;
    vertical-align: middle;
    display: inline-block;
    opacity: 0.5;
    font-weight: 800;
}

.glyph-link:visited {
    text-decoration: none;
    font-size: 5em;
    color: white;
    vertical-align: middle;
    display: inline-block;
    opacity: 0.5;
    font-weight: 800;

}

.glyph-link:hover {
    text-decoration: none;
    font-size: 5em;
    color: white;
    vertical-align: middle;
    display: inline-block;
    opacity: 1;
    font-weight: 800;
}

.glyph-link:active {
    text-decoration: none;
    font-size: 5em;
    color: white;
    vertical-align: middle;
    display: inline-block;
    opacity: 0.5;
    font-weight: 800;
}

/*Gallery*/

#gallery {
    background-color: darkslategray;
    width: 100%;
    height: 18rem
}

#gallery-display {
    margin-left: 3em;
}

.gallery-photo {
    display: inline;
    margin-top: 1em;
    margin-right: 1.3em;
    border-radius: 2px;
    box-shadow: 5px 5px 10px;
    cursor: pointer;
}

#left-chevron{
    margin-left: 1em;
}

#right-chevron {
    margin-right: 1em
}